html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100%;
  background-color: #3E394F;
  margin: 0;
  overflow: visible;
  background-image: linear-gradient(to bottom, #000000, #000000);
}
